.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #fcfced, #fcedfc 48%, #ebf6ff);
}

.auth-container, .login-form, .signup-form{
    display: flex;
    flex-direction: column;
}

.auth-container{
    padding: 5rem;
    border: 1px solid black;
    border-radius: 10px;
}

label{
    text-align: left;
    padding: .1rem 0;
}

input{
    margin: .5rem 0;
    padding: 1rem;
}

button{
    font-variant: bold;
    background-color: DarkTurquoise;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
}

textarea{
    resize: none;
    background: white;
    overflow-y: scroll;
    height: 200px;
    width: 1000px;
    padding: 10px;

}

.smallbtn{
    font-variant: bold;
    background-color: DarkTurquoise;
    padding: 10px;
    border-radius: 10px;
    width: 80px;
    cursor: pointer;
    margin: 10px;
}

.link {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
}

.ListBox{
    text-align: left;
    background: white;
    overflow-y: scroll;
    height: 200px;
    width: 1000px;
    padding: 10px;
    border: 1px solid black;

}

.filebox{
    text-align: left;
    background: white;
    overflow-y: scroll;
    height: 200px;
    width: 270px;
    padding: 10px;
    border: 1px solid black;
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
}

.spinner {

    width: 40px;
    height: 40px;
    border: 8px solid;
    border-color: DarkTurquoise transparent DarkTurquoise transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

